name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 20 * * 5'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.8"
    - uses: coursier/cache-action@v5
    - run: git config core.whitespace tab-in-indent,trailing-space,space-before-tab,cr-at-eol
    - run: git show --oneline --check
    - run: sbt -v scalafmtSbtCheck scalafmtCheckAll
    - run: sbt -v checkGenerate "+test" "+publishLocal"
    - run: sbt -v '++ 3.0.0-M3!' "Test/compile"
    - run: rm -rf ~/.ivy2/local
