name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 20 * * 5'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@v6
    - uses: sbt/setup-sbt@v1
    - run: git config core.whitespace tab-in-indent,trailing-space,space-before-tab,cr-at-eol
    - run: git show --oneline --check
    - run: sbt -v generateBoilerplate scalafmtSbtCheck "+scalafmtCheckAll"
    - run: sbt -v checkGenerate "+test" "+publishLocal"
    - run: rm -rf ~/.ivy2/local
